<!-- <div class="languages">
    <div>
        <img (click)="useLanguage('es')" src="https://res.cloudinary.com/dfgzfxscq/image/upload/v1661527883/Proyecto%20GoT/spain_1_evuqwb.png" alt="">
    </div>
    <div class="uk" >
        <img (click)="useLanguage('en')" src="https://res.cloudinary.com/dfgzfxscq/image/upload/v1661527883/Proyecto%20GoT/united-kingdom_1_dlxqmz.png" alt="">               
    </div>
</div> -->
<div class="icons">
    <div class="icons__item">
        <img (click)="useLanguage('es')" src="https://res.cloudinary.com/dfgzfxscq/image/upload/v1661527883/Proyecto%20GoT/spain_1_evuqwb.png" alt="">
    </div>
    <div class="icons__item" >
        <img (click)="useLanguage('en')" src="https://res.cloudinary.com/dfgzfxscq/image/upload/v1661527883/Proyecto%20GoT/united-kingdom_1_dlxqmz.png" alt="">               
    </div>
</div>
