
<div class="character-block">
    <div *ngFor="let character of characters">
        <div class="character-block__item">
            <div *ngIf="character.image" class="image-block">
               <a routerLink="/personajes/{{character.name}}"><img src="{{character.image}}" alt="{{character.name}}"/></a> 
            </div>
            <div *ngIf="!character.image" class="image-block">
                <img src="{{imgDefault.src}}" alt="{{imgDefault.alt}}"/>
            </div>
        </div>

    </div>
</div>

    
    
    
    
 <!-- <div class="character-block">
        <cdk-virtual-scroll-viewport itemSize="80" class="">
            <div *cdkVirtualFor="let character of characters">
                <div class="character-block__item">
                    <div class="image-block">
                        <img src="{{character.image}}" alt="{{character.name}}"/>
                    </div>
                    <div *ngIf="!character.image" class="image-block">
                        <img src="{{imgDefault.src}}" alt="{{imgDefault.alt}}"/>
                    </div>
                </div>
            
            </div>
        </cdk-virtual-scroll-viewport>
        
    </div> -->



<!-- <div *ngIf="character.image" class="image-block">
    <img src="{{character.image}}" alt="{{character.name}}"/>
</div>
<div *ngIf="!character.image" class="image-block">
    <img src="{{imgDefault.src}}" alt="{{imgDefault.alt}}"/>
</div> -->