
.gallery-item{
    width: 248px;
    height: 297px;
    margin: 10px 24px 10px 20px;
}


//menu
.routes{
    background-color: black;
    position:fixed;
    bottom: 0;
    width: 100%;
    padding: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
  }
  .active{
    font-family: Gameofthrones;
    color: white;
    font-size: 36px;
    text-decoration: none;
  }
  @font-face {
    font-family: Gameofthrones;
    src: url(../../../assets/fonts/GameofThrones.ttf);
  }
