
.gallery-item{
    width: 248px;
    height: 297px;
    margin: 10px 24px 10px 20px;
}


//menu
.routes{
    background-color: black;
    position:fixed;
    bottom: 0;
    width: 100%;
    padding: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
  }
  .active{
    font-family: Gameofthrones;
    color: white;
    font-size: 36px;
    text-decoration: none;
  }

  .input-block{
    display: flex;
    padding-top: 30px;
    margin-left: 40px;
    margin-bottom: 40px;
    justify-content: center;
    align-items: center;
    background-color: black;
    width: 50%;
    height: 30px;
    position: relative;
    overflow: hidden;
    border-bottom: white solid;
    input{
        width: 100%;
        height: 100%;
        background: none;
        color: white;
        border: none;
        font-size: 25px;
        outline: 0px;
        padding: 15px;
    }
}
.nav-block{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.icons{
    display: flex;
    &__item{
        margin: 0px 10px;
    }
}

  @font-face {
    font-family: Gameofthrones;
    src: url(../../../assets/fonts/GameofThrones.ttf);
  }

