<div class="nav-block">

  <div class="input-block">
    <input type="text" name="filterHouse" placeholder="{{'BUSCAR' | translate}}" [(ngModel)]="filterHouse"/>
  </div>
  
  <div class="icons">
    <div routerLink="/" class="icons__item">
      <img src="https://res.cloudinary.com/dfgzfxscq/image/upload/v1661780537/Proyecto%20GoT/Group_qx0xwb.png" alt=""/>
    </div>
    <app-translation></app-translation>
  </div>
</div>


<div class="container-padre">
<div class="container">
  <ngx-simplebar class="scroll" data-simplebar [options]="options">
    <div class="house-block">
      <div *ngFor="let house of houses | buscadorHouses: filterHouse">
        <div *ngIf="house.logoURL" class="house-block__item">
          <a routerLink="/casas/{{ house.name }}">
            <img
              src="{{ house.logoURL }}"
              alt="{{ house.name }}" class="house-block__img"
              
            />
            <h3>{{ house.name }}</h3>
          </a>
        </div>
        <div *ngIf="house.logoURL === undefined" class="house-block__item">
          <a routerLink="/casas/{{ house.name }}">
            <img
              src="{{ imgDefault.src }}"
              alt="{{ imgDefault.alt }}" class="house-block__img"
              
            />
            <h3>{{ house.name }}</h3>
          </a
          >
        </div>
      </div>
    </div>
  </ngx-simplebar>
</div>
</div>


<!--menu-->
<div class="routes">
  <div routerLink="/personajes"><p>{{"PERSONAJES" | translate}}</p></div>
  <div routerLink="/casas"><p routerLinkActive="active">{{"CASAS" | translate}}</p></div>
  <div routerLink="/cronologia"><p>{{"CRONOLOGIA" | translate}}</p></div>
</div>

