<!--menu top-->
<div class="icons">
    <div routerLink="/" class="icons__item">
      <img src="https://res.cloudinary.com/dfgzfxscq/image/upload/v1661780537/Proyecto%20GoT/Group_qx0xwb.png" alt=""/>
    </div>
    <app-translation></app-translation>
    
</div>

<!--cronologia-->
<div class="container">
    <ngx-simplebar  data-simplebar [options]="options" class="scoll_bar">
    
        <div class="container_button">
        <button (click)="ordenar()" class="button">O</button>
    </div>

    <div class="container-timeline">
        <div *ngFor="let item of characters" class="container-timeline__item">
            <div class="gallery" *ngIf="item.age.age">
                <div><p>{{item.age.age}}</p></div>
                <div><p>{{item.name}}</p></div>
                <div class="gallery_item"><img width="100px" src="{{item.image}}" alt=""></div>
            </div>
        </div>
    </div>

    </ngx-simplebar> 
</div>


<!--menu-->
<div class="routes">
    <div routerLink="/personajes"><p>{{"PERSONAJES" | translate}}</p></div>
    <div routerLink="/casas"><p>{{"CASAS" | translate}}</p></div>
    <div routerLink="/cronologia"><p routerLinkActive="active">{{"CRONOLOGIA" | translate}}</p></div>
  </div>




