
<!--div global-->

<!--<div>-->

    <!--div de foto y nombre de la casa-->
        <!--<div>
            <div *ngIf="house.logoURL" class="gallery">
                <img src="{{house.logoURL}}" alt="{{house.name}}" class="gallery-item"/>
                <h3>{{house.name}}</h3>
            </div>
            <div *ngIf="house.logoURL === undefined" class="gallery">
                <img src="{{imgDefault.src}}" alt="{{imgDefault.alt}}" class="gallery-item"/>
                <h3>{{house.name}}</h3>
        </div>-->
    
    <!--div de detalles-->
    
        <!--<div>-->
    <!--lema-->
            <!--<div>
                <h4>LEMA</h4>
                <div *ngIf="house.words"><p>{{house.words}}</p></div>-->
                <!--<div *ngIf="!house.words"><p>{{houseDefault.words}}</p></div>-->
                <!--<div *ngIf="!house.words"><p>Esta casa no tiene lema conocido.</p></div>-->
    <!--sede-->
            <!--<div>
                <h4>SEDE</h4>
                <div *ngIf="house.seat"><p>{{house.seat}}</p></div>-->
                <!--<div *ngIf="!house.seat"><p>{{houseDefault.seat}}</p></div>-->
                <!--<div *ngIf="!house.seat"><p>Esta casa no tiene sede conocida.</p></div>

            </div>-->
    <!--alianzas-->
            <!--<div>
                <h4>ALIANZAS</h4>
                <div *ngIf="house.allegiance"><p>{{house.allegiance}}</p></div>-->
                <!--<div *ngIf="!house.allegiance"><p>{{houseDefault.allegiance}}</p></div>-->
                <!--<div *ngIf="!house.allegiance"><p>Esta casa no tiene alianzas conocidas.</p></div>

            </div>-->
    <!--religiones-->
            <!--<div>
                <h4>RELIGIONES</h4>
                <div *ngIf="house.religion"><p>{{house.religion}}</p></div>-->
                <!--<div *ngIf="!house.religion"><p>{{houseDefault.religion}}</p></div>-->
                <!--<div *ngIf="!house.religion"><p>Esta casa no tiene religiones conocidas.</p></div>
            </div>-->
    <!--fecha fundacion-->
            <!--<div>
                <h4>FUNDACION</h4>
                <div *ngIf="house.createdAt"><p>{{house.createdAt}}</p></div>-->
                <!--<div *ngIf="!house.createdAt"><p>{{houseDefault.createdAt}}</p></div>-->
                <!--<div *ngIf="!house.createdAt"><p>Esta casa no tiene fecha de fundación conocida.</p></div>

            </div>
        </div>
    </div>-->
 
    
    
    