
<div class="image">
<!---iconos-->
    <div class="languages">
        <app-translation></app-translation>
    </div>

<!---titulo-->

    <div class="title">
      <div>GAMES OF THRONES</div> 
    </div>

<!---rutas-->
    <div class="routes">
        <div><a class="active" routerLink="/personajes">{{"PERSONAJES" | translate}}</a></div>
        <div><a class="active" routerLink="/casas">{{"CASAS" | translate}}</a></div>
        <div><a class="active" routerLink="/cronologia">{{"CRONOLOGIA" | translate }}</a></div>
    </div>

</div>

