.image{
    background-image:url(https://res.cloudinary.com/dfgzfxscq/image/upload/v1661527883/Proyecto%20GoT/image_1_hiklo7.png);
    background-size:cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    height:100vh;
  }
  .title{
    display: flex;
    justify-content: center;
    text-align: center;
    max-width: 1200px;
    font-family: Gameofthrones ;
    font-size: 150px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: white
  }
  .routes{
    display: flex;
    flex-wrap: wrap;
    position:fixed;
    bottom: 0;
    width: 100%;
    padding: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
  }
  .active{
    font-family: Gameofthrones;
    color: white;
    font-size: 36px;
    text-decoration: none;
  }
 .languages{
    position: fixed;
    top: 0;
    right: 150px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-top: 19px;
    cursor: pointer;
 }
 .uk{
    padding-left: 20px;
 }
 @font-face {
    font-family: Gameofthrones;
    src: url(../../shared/assets/fonts/GameofThrones.ttf);

  }
  @media only screen and (max-width: 768px) {
    .title{
      font-size: 60px;
      text-align: center;
      padding: 10px;
    }
    .languages{
      right: 0%;
      display: flex;
      justify-content: center;
    cursor: pointer;
    }
  }
