<div class="image">

    <div class="languages">
        <div>
            <img src="../assets/img/spain 1.png" alt="">
        </div>
        <div class="uk" >
            <img src="../assets/img/united-kingdom 1.png" alt="">
        </div>
    </div>


    <div class="title">
      <span>GAMES OF THRONES</span> 
    </div>
    <div class="routes">
        <div>
            <!-- <a class="active" routerLink="/" routerLinkActive="active">Home</a>
        </div>
        
        <div> -->
            <a class="active" routerLink="/personajes" routerLinkActive="active">Personajes</a>
        </div>
        <div>
            <a class="active" routerLink="/casas" routerLinkActive="active">Casas</a>
        </div>
        <div>
            <a class="active" routerLink="/cronologia" routerLinkActive="active">Cronologia</a>
        </div>
        
        
    </div>

</div>
