<!--body-->


<div class="icons">
  <div class="icons__item">
    <a routerLink="/personajes">Volver</a>
  </div>

  <div class="icons__item">
    <div routerLink="/" ><img src="https://res.cloudinary.com/dfgzfxscq/image/upload/v1661780537/Proyecto%20GoT/Group_qx0xwb.png" alt=""/></div>
    <app-translation></app-translation>
  </div>
</div>
<!--body-->

<div class="character-details-container">
  <div class="character-details-card">
    <img src="{{character.image}}" alt="" />
    <img *ngIf="!character.image" src="{{ imgDefault2.src }}" alt="{{ imgDefault2.alt }}" />

    <h2>{{ character.name }}</h2>
  </div>



  <div class="character-details-info">
    <div class="character-details-info__item">
      <h3>{{"CASA" | translate}}</h3>
      <img *ngIf="house[0]?.logoURL" src="{{house[0]?.logoURL}}" alt="{{character.house}}"/>
      <img *ngIf="house[0]?.logoURL==undefined" src="{{imgDefault.src}}" alt="{{imgDefault.alt}}"/>

    </div>


    <div class="character-details-info__item">
    <h3>{{"ALIANZAS" | translate}}</h3>

<div *ngFor="let item of character.allegiances">
<div *ngIf="item"><p>{{item}}</p></div>
</div>
<div *ngIf="character.allegiances.length === 0"><p>Este personaje no tiene alianza conocida.</p></div>
    </div>


    <div class="character-details-info__item">
      <h3>{{"APARICIONES" | translate}}</h3>
      <ngx-simplebar class="scroll-character-details" data-simplebar [options]="options">
        <p *ngFor="let item of character.appearances">{{ item }}</p>
        <div *ngIf="character.appearances.length === 0"><p>Este personaje no tiene apariciones conocidas.</p></div> 
      </ngx-simplebar>
    </div>

    <div class="character-details-info__item">
      <h3>{{"PADRE" | translate}}</h3>
      <div *ngIf="character.father"><p>{{ character.father }}</p></div>
      <div *ngIf="!character.father"><p>Este personaje no tiene padre conocido.</p></div>
    </div>

    <div class="character-details-info__item">
      <h3>{{"HERMANOS" | translate}}</h3>
      <ngx-simplebar class="scroll-character-details" data-simplebar [options]="options">
        <p *ngFor="let item of character.siblings">{{ item }}</p>
        <div *ngIf="character.siblings.length === 0"><p>Este personaje no tiene descendientes conocidos.</p></div> 
        <!-- <div *ngIf="character[0]?.siblings == undefined"><p>Este personaje no tiene descendientes conocidos.</p></div>  -->
      </ngx-simplebar>
    </div>

    <div class="character-details-info__item">
      <h3>{{"TITULOS" | translate}}</h3>
      <ngx-simplebar class="scroll-character-details" data-simplebar [options]="options">
        <p *ngFor="let item of character.titles">{{ item }}</p>
        <div *ngIf="character.titles.length === 0"><p>Este personaje no tiene titulos conocidos.</p></div> 
        <!-- <div *ngIf="character[0]?.titles === undefined"><p>Este personaje no tiene titulos conocidos.</p></div> -->
      </ngx-simplebar>
    </div>
  </div>
</div>
