
@font-face {
    font-family: Gameofthrones;
    src: url(../../../shared/assets/fonts/GameofThrones.ttf);
  }

.character-details-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:30px;
    font-family: Arial, Helvetica, sans-serif;
    h2{
    font-family: Gameofthrones;
    }
    h3{
        font-family: Gameofthrones;
        }
}
.character-details-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    img{
        height: 320px;
    }
    h2{
        color:white;
        text-align: center;
    }
    
}
.character-details-info{
    display:flex;
    width: 90%;
    justify-content: center;
    align-items: center;
    &__item{
        
        justify-content: center;
        align-items: center;
        margin:15px;
        padding:20px;
        flex-wrap: wrap;
        height: 170px;
        width: 230px;
        img{
            width:160px;
            text-align: center;
            margin-left: 20px;
        }
        h3{
            margin:0px 10px 10px 10px;
        }
        p{
            text-align: center;
            font-family: Arial, Helvetica, sans-serif;
        }
    }
    h3{
        color:white;
        text-align: center;
        padding:10px;
    }
    
}

@media only screen and (max-width: 768px) {
    .character-details-info{
        flex-direction: column;
        margin:5px;
        justify-content: center;
        &__item{
            margin-bottom:15px;
        }
    }
}
.scroll-character-details{
    text-align: center;
    box-sizing: content-box;
    height:100px;
    width: 230px;
    margin: 0px 0px 0px 10px;
    justify-content: flex-start;
}

//menu iconos
.icons{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    width: 95%;
    &__item{
        display: flex;
        flex-wrap: wrap;
    align-items: center;

        margin: 10px 10px;
    }
    a{
        color: white;
        text-decoration: none;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;
        margin-left: 50px;
    }
  }
