<div class="padre">


<div class="card">
    <img src="{{character.image}}" alt="">
    <p>{{character.name}}</p>
</div>

<div class="main">

<div>
<span>CASA</span>
</div>

<div>
    <span>ALIANZAS</span>
    <p>{{character.allegiances}}</p>
</div>

<div>
    <span>APARICIONES</span>
    <p>{{character.appearances}}</p>
</div>

<div>
    <span>PADRE</span>
    <p>{{character.father}}</p>
</div>

<div>
    <span>DESCENDIENTES</span>
    <p>{{character.siblings}}</p>
</div>

<div>
    <span>TITULOS</span>
    <p>{{character.titles}}</p>
</div>


</div>

</div>