.character-details-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:30px;
}
.character-details-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    img{
        height: 320px;
    }
    h2{
        color:white;
        text-align: center;
    }
    
}
.character-details-info{
    display:flex;
    //width: 100%;
    margin:20px;
    justify-content: center;
    align-items: center;
    &__item{
        
        justify-content: center;
        align-items: center;
        margin:15px;
        padding:20px;
        flex-wrap: wrap;
        img{
            width:160px;
            text-align: center;
        }
        h3{
            margin:0px 10px 0px 10px;
        }
        p{
            text-align: center;
        }
    }
    h3{
        color:white;
        text-align: center;
        padding:10px;
    }
    
}

@media only screen and (max-width: 768px) {
    .character-details-info{
        flex-direction: column;
        margin:5px;
        justify-content: center;
        &__item{
            margin:5px;
        }
    }
}
.scroll-character-details{
    text-align: center;
    box-sizing: content-box;
    height:100px;
}

/* 
.padre{
    //background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Gameofthrones;
    font-size: 32px;
    
img {
    width: 248px;
    height: 340px;
}
}
.main{
    display: flex;
    //width: 100%;
    flex-wrap: wrap;
    margin:20px;
    align-items: center;
    justify-content: center;
    span{
        font-family: Gameofthrones;
    }
    &__item{
        margin:15px;
        display:block;
        height:100px;
        width: 150px;
        padding:20px;
        
    }
}

 */

/* div{
    display: flex;
    flex-direction: column;
    width: 248px;
} */
/* @font-face {
    font-family: Gameofthrones;
    src: url(../../../../assets/fonts/GameofThrones.ttf);
} */