<app-translation></app-translation>

<div class="character-details-container">
  <div class="character-details-card">
    <img src="{{character.image}}" alt="" />
    <h2>{{ character.name }}</h2>
  </div>

  <div class="character-details-info">
    <div class="character-details-info__item">
      <h3>{{"CASA" | translate}}</h3>
      <img src="{{house[0].logoURL}}" alt="{{character.house}}"/>
    </div>

    <div class="character-details-info__item">
    <h3>{{"ALIANZAS" | translate}}</h3>
      <p *ngFor="let item of character.allegiances">{{ item }}</p>
      <!-- <p>{{character.allegiances}}</p> -->
    </div>

    <div class="character-details-info__item">
      <h3>{{"APARICIONES" | translate}}</h3>
      <ngx-simplebar class="scroll-character-details" data-simplebar [options]="options">
        <p *ngFor="let item of character.appearances">{{ item }}</p>
        <!-- <p>{{character.appearances}}</p> -->
      </ngx-simplebar>
    </div>

    <div class="character-details-info__item">
      <h3>{{"PADRE" | translate}}</h3>
      <p>{{ character.father }}</p>
    </div>

    <div class="character-details-info__item">
      <h3>{{"DESCENDIENTES" | translate}}</h3>
      <ngx-simplebar class="scroll-character-details" data-simplebar [options]="options">
        <p *ngFor="let item of character.siblings">{{ item }}</p>
        <!-- <p>{{character.appearances}}</p> -->
      </ngx-simplebar>
      <!-- <p>{{ character.siblings }}</p> -->
    </div>

    <div class="character-details-info__item">
      <h3>TITULOS  </h3>
      <ngx-simplebar class="scroll-character-details" data-simplebar [options]="options">
        <p *ngFor="let item of character.titles">{{ item }}</p>
        <!-- <p>{{character.title}}</p> -->
      </ngx-simplebar>
    </div>
  </div>
</div>
